@import
url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.Tienda{
    color:rgb(110,46,8);
    font-family: 'Caveat',cursive;
    font-weight: 700; 
    text-align: center;
}